XTerm*termName: xterm-256color
XTerm*locale: true
XTerm*faceName: Noto Sans Mono
XTerm*faceSize: 13
XTerm*selectToClipboard: true
XTerm*cursorBlink: true
XTerm*ScrollBar: false

XTerm*background:  #1d2021
XTerm*foreground:  #d5c4a1
XTerm*cursorColor: #d5c4a1

XTerm*color0:  #1d2021
XTerm*color1:  #f2513f
XTerm*color2:  #b8bb26
XTerm*color3:  #f0ba3e
XTerm*color4:  #83a598
XTerm*color5:  #d3869b
XTerm*color6:  #8ec07c
XTerm*color7:  #d5c4a1
XTerm*color8:  #665c54
XTerm*color9:  #f2513f
XTerm*color10: #b8bb26
XTerm*color11: #f0ba3e
XTerm*color12: #83a598
XTerm*color13: #d3869b
XTerm*color14: #8ec07c
XTerm*color15: #e0d7b1
